<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/lib/codemirror.css"></link>
        <link rel="stylesheet" href="/lib/repl.css"></link>
    </head>

    <body>

        <div id="repl-header">{{ module }} = require('{{ module }}')</div>

        <script src="http://use.edgefonts.net/inconsolata.js"></script>
        <script src="/lib/codemirror.js"></script>
        <script src="/lib/js-mode.js"></script>
        <script src="/lib/repl.js"></script>
        <script src="/js/{{ module }}.js"></script>
        <script src="/lib/npmRepl.js"></script>
    </body>
</html>
