<link rel="stylesheet" href="/lib/codemirror.css"></link>

<title>repl for {{ module }}</title>
<h1>repl for {{ module }}</h1>

<iframe src="/iframe/{{ module }}"
        id="repl"
        style="border: 1px solid black"
        frameborder=0
        width=600
        height=400>
</iframe>

<br>

<iframe src="http://nodeknockout.com/iframe/adobe-updater"
    frameborder=0
    scrolling=no
    allowtransparency=true
    width=115
    height=25>
</iframe>
