<link rel="stylesheet" href="/lib/1140.css"></link>
<link rel="stylesheet" href="/lib/npmrepl.css"></link>

<title>{{ module }} @ npm-repl</title>

<div class="container">
    <div class="row">
        <div class="fourcol">
            <h1>{{ module }}</h1>
        </div>

        <div class="fourcol"></div>

        <div class="threecol">
            <iframe src="http://nodeknockout.com/iframe/adobe-updater"
                id="nko-iframe"
                frameborder=0
                scrolling=no
                allowtransparency=true
                width=115
                height=25>
            </iframe>

            <br>

            <p>
                <a href="/">npm-repl</a>, by
                <a href="https://twitter.com/alunny">alunny</a>
            </p>
        </div>
    </div>

    <div class="row">

        <div class="fivecol" id="repl_div">
            <iframe src="/iframe/{{ module }}"
                    id="repl"
                    style="border: 1px solid black"
                    frameborder=0
                    width=550
                    height=400>
            </iframe>

            <br>

            <h2>Embed this REPL:</h2><br>

            <pre id="embed_code">
&lt;iframe src="http://adobe-updater.nko3.jit.su/iframe/{{ module }}"
        id="repl"
        style="border: 1px solid black"
        frameborder=0
        width=550
        height=400&gt;
&lt;/iframe&gt; </pre>
        </div>

        <div class="onecol"></div>

        <div class="fivecol">
            <article id="readme">
                loading README
            </article>
        </div>

    </div>
</div>


<script src="http://use.edgefonts.net/amaranth.js"></script>
<script src="http://use.edgefonts.net/pt-serif.js"></script>
<script src="http://use.edgefonts.net/inconsolata.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var req = new XMLHttpRequest();
        req.open('GET', '/readme/{{ module }}', true);

        req.onreadystatechange = function (evt) {
            if (req.readyState === 4) {
                if (req.status === 200) {
                    document.getElementById('readme').innerHTML = req.responseText;
                } else {
                    console.log("Error", req);
                }
            }
        }

        req.send();
    }, false);
</script>
